body {
    font-family: 'Roboto Slab', serif;
    margin: 0%;
}

h1 {
    font-size: 60px;
}

.highlights {
    color: rgba(209, 8, 8, 0.83);
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 85%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 7, 7), rgb(238, 42, 81));
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.top-part {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.divider {
    width: 50%;
    padding-right: 5%;
}

.divider-image img {
    width: 85%;
    padding-left: 10%;
}

.Second-link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(165, 7, 7), rgba(247, 4, 4, 0.589));
    padding: 10px 40px;
    color: black;
    font-weight: 700;
}

.middle-part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right
}